:root {
	--background: #fff;
	--foreground-primary: #212121;
	--foreground-secondary: #6b6b6b;
	--border: #ebebeb;
	--accent: #0071e3;
	--muted: #f9f9f9;
	--foreground-inverse: #fff;
	--foreground-tertiary: #cbcbcb;
	--wrong: #e91010;

	font-family: 'Inter', sans-serif;
}
