@use '../../../app/styles/media' as *;

.sort {
	position: relative;
	display: inline-block;

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 12px 20px;
		margin-block: 4px;
		border-radius: 12px;
		background-color: var(--muted);
		cursor: pointer;

		&:hover {
			background-color: var(--border);
		}

		@include mobile {
			padding: 12px;
		}
	}

	&__icon {
		width: 18px;
		height: 18px;
		flex-shrink: 0;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		color: var(--foreground-primary);
		flex-shrink: 0;

		@include mobile {
			display: none;
		}
	}

	&__value {
		font-weight: 400;
		font-size: 16px;
		color: var(--accent);
		transition: opacity 0.2s ease;

		@include mobile {
			display: none;
		}
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		right: 0;
		width: fit-content;
		padding: 12px 0;
		border: 1px solid var(--muted);
		box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.05);
		background-color: var(--background);
		border-radius: 12px;
		opacity: 0;
		transform: translateY(-8px);
		visibility: hidden;
		transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
		z-index: 10;

		&_open {
			opacity: 1;
			transform: translateY(0);
			visibility: visible;
		}

		&__item {
			padding: 0 20px;
			height: 40px;
			display: flex;
			align-items: center;

			font-weight: 400;
			font-size: 16px;
			color: var(--foreground-primary);
			white-space: nowrap;

			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: #f6faff;
			}

			&_active {
				background-color: #f6faff;
				color: var(--accent);
			}
		}
	}
}
